html {
  /* background and border on all pages */
  margin: 5px 5px 5px 5px;
  background-color: #1c1c1c;
}
.name {
  /* styling and placement of my name in the top left of every page */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
  display: flex;
  /* border: 1px red solid; */
  justify-content: center;
  width: 100%;
  color: #1c1c1c;
  left: 10px;
  top: 1px;
}

.homeHeader {
  background-color: #b28228;
}

nav {
  /* places the nav links in the top */
  /* float: right; */
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  text-decoration: none;
}
.homePage {
  /* all styling for the homepage text */

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  /* display: flex; */
  /* position: relative; */
  width: 100%;
  text-align: center;
  background-color: #3b3b3b;
  color: #ffb606;
  padding: 1px;
  margin-top: 5%;
}
a {
  text-decoration: none;
  color: #1c1c1c;
}
h1 {
  font-size: 2em;
}
footer {
  width: 100%;
  display: flex;
  /* border: 1px red solid; */
  justify-content: center;
}
.icons {
  /* places the icons on the middle and bottom of every page */
  display: inline-block;
  position: relative;
  left: 47%;

  padding-top: 5px;
}
nav :hover {
  /* added highlight on hover to the nav links */
  cursor: pointer;
  background-color: #1c1c1c;
  color: #b28228;
  text-decoration: underline;
}
.portfolioHead {
  /* styling for the intro header of the about page */
  font-size: 3em;
  color: #ffb606;
  width: 75%;
  text-align: center;
  position: relative;
  left: 12%;
}
.Gaming {
  /* styling for gaming section */
  font-size: 2em;
  background-color: #3b3b3b;
  color: #ffb606;
  text-align: center;
  border: 1px solid #b28228;
  margin-left: 2px;
  width: 100%;
}
div {
  background-color: #3b3b3b;
  padding: 2px;
}
h2 {
  /* styling for all the secondary headers */
  margin-left: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  /* border: 1px red solid; */
}
p {
  margin-left: 5px;
  margin-right: 5px;
}
.fashion {
  /* styling for the fashion section */
  font-size: 2em;
  background-color: #3b3b3b;
  color: #ffb606;
  text-align: center;
  border: 1px solid #b28228;
  margin-left: 2px;
  width: 100%;
}
.sports {
  /* styling for the sports section */
  font-size: 2em;
  background-color: #3b3b3b;
  color: #ffb606;
  text-align: center;
  border: 1px solid #b28228;
  margin-left: 2px;
  width: 100%;
}
.myProjects {
  /* main header for the portfolio page */
  font-size: 3em;
  color: #ffb606;
  width: 100%;
  text-align: center;
}
article {
  /* styling of all the text and images of the portfolio section */
  font-size: 2em;
  background-color: #3b3b3b;
  color: #ffb606;
  text-align: center;
  border: 1px solid #b28228;
  margin-left: 2px;
  width: 100%;
}
.mainHeader {
  display: flex;
  /* border: 1px red solid; */
  justify-content: center;
  width: 100%;
}
